/*---------- LAYOUT ----------*/

.user-panel{
    position: inherit;
    margin-bottom: 1rem;
}

.sidebar-toggle{
    padding: 0!important;
}

.btn-connexion{
    margin: 0rem auto 1rem;
}

.btn-connexion a{
    font-weight: bold;
    color: black!important;
}

/*---------- ADMINISTRATION ----------*/

#uploadImg{
    margin: auto;
}

.imgModeleBase{
    max-width: 400px;
}

.title-tabs{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

/*---------- CONNEXION ----------*/

.box-footer{
    text-align: center;
}

/*---------- HOME ----------*/

.card{
    box-shadow: 7px 6px 19px -6px rgba(133,130,133,1);
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.model-name, .size-name{
    font-size: 2rem;
    color: 	#696969;
}

.model-img, .size-img{
    height: 250px;
}

.model-price, .size-price{
    border: #948484 solid 1px;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    padding: 1rem;
 }

.model-price span, .size-price span, .euro{
    font-size: 2rem;
}

.model-choice, .size-choice{
    width: 50%;
    margin: 2rem auto 0rem;
    font-size: 1.2rem;
}

.link-block{
    margin: 2rem 0 1rem;
}

/*---------- SIZE ----------*/

.size-img{
    margin: 1rem auto 1rem;
    border: #2c3b41 solid 1px;
    width: 80%;
}

/*---------- CONFIG ----------*/

.config-content{
    margin-top: 2rem;
}

.config-content .box-body{
    overflow: hidden;
}

.category-name{
    font-size: 1.4rem!important;
}

.total-config{
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
}

.submitOptions{
    margin-bottom: 3rem;
}

.option-select[data-active="true"]{
    background: rgba(0, 204, 102, 0.5);
}

.option-select[data-active="true"]:hover{
    background: rgba(0, 204, 102, 0.5);
}

.option-price, .option-button{
    text-align: center;
}

.option-price{
    font-size: 1.5rem;
}

.total-config span{
    font-size: 3.5rem;
}