<div class="tab-pane" id="tab_4">
    <table class="table table-bordered option-list">
        <tr>
            <th>Nom</th>
            <th>Prix</th>
        </tr>
        {% for option in options %}
            <tr>
                <td>{{ option.name }}</td>
                <td>{{ option.price }} €</td>
            </tr>
        {% endfor %}
    </table>
    <div class="box-footer clearfix">
        <form role="form" class="form-edit">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input id="name" type="text" class="form-control" placeholder="Nom">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="price">Prix</label>
                        <input id="price" type="number" class="form-control" placeholder="Prix">
                    </div>
                </div>
                <div class="col-sm align-self-center">
                    <div class="form-group">
                        <button type="submit" class="btn bg-olive margin" data-type="options">Ajouter</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>