{% extends 'AdminLTE/AdminLTE_base.html.twig' %}

{% block content %}

    <div class="col-md-auto py-4">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="title-tabs active"><a href="#tab_1" class="title-admin" data-toggle="tab">Modèles</a></li>
                <li class="title-tabs"><a href="#tab_2" class="title-admin" data-toggle="tab">Surfaces</a></li>
                <li class="title-tabs"><a href="#tab_3" class="title-admin" data-toggle="tab">Catégories</a></li>
                <li class="title-tabs"><a href="#tab_4" class="title-admin" data-toggle="tab">Options</a></li>
            </ul>
            <div class="tab-content">
                {#------- MODELES -------#}
                {% include 'admin/adminModeles.html.twig' %}
                {#------- SURFACES -------#}
                {% include 'admin/adminSurfaces.html.twig' %}
                {#------- CATEGORIES -------#}
                {% include 'admin/adminCategories.html.twig' %}
                {#------- OPTIONS -------#}
                {% include 'admin/adminOptions.html.twig' %}
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function() {

            $('.title-admin').on('click', function(){
                $('.title-tabs').removeClass('active');
                $(this).parents('.title-tabs').addClass('active');
            });

            $('.btn.bg-olive').on('click',function (e) {

                e.preventDefault();

                let name = $(this).parents('.form-edit').find('#name').val();
                let price = $(this).parents('.form-edit').find('#price').val();
                let description = $(this).parents('.form-edit').find('#description').val();
                let surface = $(this).parents('.form-edit').find('#surface').val();
                let formData = new FormData();

                if($(this).data('type') === 'modeles'){
                    formData.append('type', 'modeles');
                    formData.append('name', name);
                    formData.append('price', price);
                    formData.append('description', description);
                    console.log(formData)
                    console.log(name);
                }

                if($(this).data('type') === 'surfaces'){
                    formData.append('type', 'surfaces');
                    formData.append('name', name);
                    formData.append('surface', surface);
                    formData.append('price', price);
                    formData.append('description', description);
                }

                if($(this).data('type') === 'categories'){
                    formData.append('type', 'categories');
                    formData.append('name', name);
                }

                if($(this).data('type') === 'options'){
                    formData.append('type', 'options');
                    formData.append('name', name);
                    formData.append('price', price);
                }

                $.ajax({
                    type: "POST",
                    url: '{{ path('add_element') }}',
                    data: formData, // serializes the form's elements.
                    contentType: false,
                    processData: false,
                    success: function(data)
                    {
                        console.log(data); // show response from the php script.
                    }
                });
            })

        });

    </script>

{% endblock %}

