<div class="tab-pane" id="tab_3">
    <table class="table table-bordered category-list">
        <tr>
            <th style="width: 50%;">Nom</th>
            <th style="width: 50%;">Actions</th>
        </tr>
        {% for categorie in categories %}
            <tr>
                <td><a href="#" class="name">{{ categorie.name }}</a> <i class="fas fa-pen-alt min-size"></i></td>
                <td class="list-actions">
                    <button><i class="fas fa-trash-alt"></i></button>
                </td>
                <input class="action-id" type="hidden" value="{{ categorie.id }}">
            </tr>
        {% endfor %}
    </table>
    <div class="box-footer clearfix">
        <form role="form" id="form-admin">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_row(formCategory.name) }}
                    </div>
                </div>
                <div class="col-sm align-self-center">
                    <div class="form-group">
                        <button type="submit" class="btn bg-olive margin add-element" data-type="categories">Ajouter</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>