{% extends 'base.html.twig' %}

{% block content %}

    <section class="content-header">
        <h1>Configuration du projet</h1>
        <ol class="breadcrumb">
            <li class="active"><a href="{{ path('home') ~ '?name="' ~ model.name ~ '"' }}">Modèle</a></li>
            <li class="active">Surface</li>
            <li class="active">Configuration</li>
        </ol>
    </section>

    <div>Vous avez choisi </div>

    {% for category in categories %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ category.name }}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->

{#                {% for option in options %}#}
{#                    <div class="box-body">#}
{#                        {{ option.name }}#}
{#                    </div><!-- /.box-body -->#}
{#                    {% endif %}#}
{#                {% endfor %}#}

            </div><!-- /.box -->
        </div>
    </div>
    {% endfor %}

{% endblock %}